@model DataProjectCsharp.Models.Portfolio

<div id="modal-placeholder-trades"></div>
<div class="modal fade" id="viewTrades" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class=" = modal-header">
                <h5 class="modal-title" id="viewTradeLabel">Trades for @Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @if (@Model.Trades.FirstOrDefault() != null)
                {
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal-trade" data-target="#addTrade" data-url="@Url.Action("AddTrade", "Trade", new { id=Model.PortfolioId})">Add a new Trade</button>
                    </div>
                    <div class="col-12">
                        <table class="table table-striped table-bordered" style="width:100%" id="TradesView">
                            <thead>
                                <tr>
                                    <th>Ticker</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Trade Date</th>
                                    <th>Comments</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (@Model.Trades.FirstOrDefault() != null)
                                {

                                    @foreach (Trade trade in @Model.Trades)
                                    {
                                        <tr>
                                            <td>@trade.Ticker</td>
                                            <td>@trade.Quantity</td>
                                            <td>@trade.Price</td>
                                            <td>@trade.TradeDate.ToString("dd/MM/yyyy")</td>
                                            <td>@trade.Comments</td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="ajax-modal-trade" data-target="#editTrade" data-url="@Url.Action("EditTrade", "Trade", new { id=trade.TradeId})">Edit</button>
                                                <form method="post" asp-action="DeleteTrade" asp-controller="Trade" asp-route-id="@trade.TradeId">
                                                    <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this trade?')" />
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <p>This Portfolio is currently empty.</p>
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-toggle="ajax-modal-trade" data-target="#addTrade" data-url="@Url.Action("AddTrade", "Trade", new { id=Model.PortfolioId})">Add a new Trade</button>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Trademodals.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        $('#TradesView').DataTable({
            "lengthChange": false,
            "pageLength": 4,
        });
    });
</script>
