
@{
    ViewData["Title"] = "PortfolioBreakdown";
}
@model DataProjectCsharp.Models.DataViewModels.PortfolioDataVM
<a class="text-primary" asp-area="" asp-controller="Portfolio" asp-action="Portfolios">Go Back to Your Portfolios</a>
<h1>Portfolio: @Model.PortfolioObject.PortfolioName</h1>

<h3 class="mb-2 text-muted">You have @Model.PortfolioObject.GetPositions().Where(p => p.netQuantity != 0).Count() open positions </h3>

@if (@Model.PortfolioObject.GetPositions().Count != 0)
{
    <div class="container">
        <div class="row">
            <div class="col-3">
                <table class="table table-hover" style="width:100%" id="PositionTable">
                    <thead>
                        <tr>
                            <th>All Positions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var position in @Model.PortfolioObject.GetPositions())
                        {
                            <tr>
                                <td>
                                    <span style="white-space:nowrap">
                                        <a class="text-primary font-weight-bold" asp-action="PositionBreakdown" asp-route-PortfolioId="@Model.PortfolioId" asp-route-positionSymbol="@position.symbol" \>Breakdown for @position.symbol </a>
                                    </span>
                                    <span style="white-space:nowrap">Quantity: @position.netQuantity</span>
                                    <span style="white-space:nowrap">Average Cost: @position.averageCost.ToString("0.##")</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-9">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12">
        <table class="table table-striped table-bordered" style="width:100%" id="PortfolioHPR">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Performance</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.HoldingPeriodReturn.Rows)
                {
                    <tr>
                        <td>@row[0]</td>
                        <td>@row[@Model.HoldingPeriodReturn.Columns.Count-1]%</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
@section scripts {
    <script>
        $(document).ready(function () {
            $('#PositionTable').DataTable({
                "pagingType": "simple",
                "Info": false,
                "lengthChange": false,
                "pageLength": 3,
                "order": [0, 'desc'],
                "searching": true,
                "columnDefs": [{ 'type': 'date-eu', 'targets': 0 }],
            });
        });
    </script>
    <script>
        $(document).ready(function () {


            $('#PortfolioHPR').DataTable({
                "order": [0, 'desc'],
                "searching": false,
                "columnDefs": [{ 'type': 'date-eu', 'targets': 0 }],
            });
        });
    </script>

    <script>
        var dates = [];
        var performance = [];
        @if (Model.HoldingPeriodReturn != null)
        {
          @foreach(var row in Model.HoldingPeriodReturn.Rows)
            {
                if(@row[@Model.HoldingPeriodReturn.Columns.Count - 1] != null)
                {
                    @:dates.push("@row[0]");
                    @:performance.push("@row[@Model.HoldingPeriodReturn.Columns.Count - 1]");
                }
            }
        }

        var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        tooltipCaretSize: 10,
        maintainAspectRatio: false,
        data: {
            labels: dates,
            datasets: [{
                label: '%',
                data: performance,
                backgroundColor: [
                    'rgba(94, 255, 137, 0.2)'
                ],
                borderColor: ["rgba(5, 38, 14, 1)"],
                borderWidth: 2,
                pointBorderWidth: 1,
                pointBorderColor: 'rgba(40, 106, 176, 1)'
            }]
        },
        options: {
          responsive:true,
          tooltips: {
            mode: "index",
            intersect:false,
          },
          hover:{
            mode: "nearest",
            intersect: true,
          },
          legend: {
            display: false,
            labels: {
              fontColor: "#d4eaff"
            }
          },
          title: {
            display: true,
            text: "Holding Period Return for @Model.PortfolioObject.PortfolioName",
            fontColor: "#2ed95b"
          },
          layout: {
            padding:{
              left: 20,
              right: 20,
              top: 0,
              bottom: 0
            }
          },
            scales: {
                xAxes: [{

                  scaleLabel:{
                    display: true,
                    labelString: "Date",
                    fontColor: "#2ed95b"
                  },
                    ticks: {
                        fontColor: "#d4eaff",
                        autoSkip: true,
                        maxTicksLimit: 6,
                        maxRotation: 15,
                        minRotation:15
                    }
                }],
                yAxes: [{
                  display:true,
                  scaleLabel:{
                    fontColor: "#2ed95b",
                    display: true,
                    labelString:"Performance (%)"
                  },
                  ticks:{
                    fontColor: "#d4eaff",
                  }
                }]
            }
        }
    });
    </script>
}