@model IEnumerable<DataProjectCsharp.Models.Portfolio>
@{
    ViewData["Title"] = "Portfolios";
}

<h1>Your Portfolios</h1>

<!--Modal placeholder(makes the modal a part of the page's structure)-->
<div id="modal-placeholder-available-securities"></div>
<div id="modal-placeholder-trade-view"></div>
<div id="modal-placeholder-portfolio"></div>
<div class="col offset-0">
    <button type="button" class="btn btn-outline-secondary" data-toggle="ajax-modal-portfolio" data-target="#addPortfolio" data-url="@Url.Action("AddPortfolio")" style="white-space:nowrap; margin-bottom:5px;">Add a new Portfolio</button>
</div>
<div class="col offset-0">
    <button type="button" class="btn btn-outline-info" data-toggle="ajax-modal-view-available-securities" data-target="#ShowTradeableSecurities" data-url="@Url.Action("ShowTradeableSecurities")" style="white-space:nowrap; margin-bottom:5px;">View All Tradeable Securites</button>
</div>
@if (Model != null)
{
    @foreach (Portfolio portfolio in Model)
    {
        <div class="card" style="margin-bottom:5px; background-color:#f7fdff">
            <div class="card-body">
                <h4 class="card-title">@portfolio.Name</h4>
                <h6 class="card-subtitle mb-2 text-muted">Number of Trades: @(portfolio.Trades == null ? 0 : portfolio.Trades.Count)</h6>
                <div class="btn-group" style="display:flex;">
                    <a class="card-link" asp-action="PortfolioBreakdown" asp-route-id="@portfolio.PortfolioId">Breakdown for @portfolio.Name</a>
                    <div class="">
                        <button type="button" class="btn btn-outline-primary" data-toggle="ajax-modal-view-trades" data-target="#viewTrades" data-url="@Url.Action("ViewTrades", "Trade",new { id=portfolio.PortfolioId})" style="white-space:nowrap;margin-left:15px; margin-right:50px;">View Trades for @portfolio.Name</button>
                    </div>
                    <form method="post" asp-action="DeletePortfolio" asp-controller="Portfolio" asp-route-id="@portfolio.PortfolioId">
                        <input class="btn btn-outline-danger" type="submit" value="Delete"  onclick="return confirm('Are you sure you want to delete this Portfolio?')"  />
                    </form>
                </div>
            </div>
        </div>
    }
}



