@model DataProjectCsharp.Models.DataViewModels.PositionDataVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<a class="text-primary" asp-action="PortfolioBreakdown" asp-route-id="@Model.PortfolioId">Go back to @Model.PortfolioName Breakdown</a>
<h1 style="color:#046616">Performance breakdown for @Model.PositionObject.symbol</h1>
<h4 class="text-muted">Portfolio: @Model.PortfolioName</h4>

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card border-success mb-3">
                <div class="card-header font-weight-bold" style="background-color:#3b964b">@Model.PositionObject.symbol Summary</div>
                <div class="card-body text-success">
                    <span class="card-text"><span style="font-weight:600">Quantity:</span> @Model.PositionObject.netQuantity</span>
                    <br />
                    <span class="card-text"><span style="font-weight:600">Average Cost:</span> @Model.PositionObject.averageCost.ToString("#0.00")</span>
                </div>
            </div>
        </div>
        <div class="col-9">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>

<div class="col-12">
    <table class="table table-striped table-bordered" style="width:100%;" id="PositionPerformance">
        <thead style="background-color:#3b964b">
            <tr>
                <th>Date</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Average Cost</th>
                <th>Performance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model.PositionObject.GetDailyPerformance().Rows)
            {
                <tr>
                    <td style="border-color:#93bd9c">@row[0]</td>
                    <td style="border-color:#93bd9c">@row[2]</td>
                    <td style="border-color:#93bd9c">@row[1]</td>
                    <td style="border-color:#93bd9c">@row[3]</td>
                    <td style="border-color:#93bd9c">@row[5]%</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="line-chart-container">
    <canvas id="myChart"></canvas>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $('#PositionPerformance').DataTable({
                "pageLength": 5,
                "order": [0, 'desc'],
                "searching": false,
                "columnDefs": [{ 'type': 'date-eu', 'targets': 0 }],
            });
        });
    </script>

    <script>
        var dates = [];
        var performance = [];
        @foreach(var row in Model.PositionObject.GetDailyPerformance().Rows)
        {
            @:dates.push("@row[0]");
            @:performance.push("@row[5]");
        }
        var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        tooltipCaretSize: 10,
        maintainAspectRatio: false,
        data: {
            labels: dates,
            datasets: [{
                label: '%',
                data: performance,
                backgroundColor: [
                    'rgba(24, 217, 76, 0.2)'
                ],
                borderColor: ["rgba(0, 168, 45, 1)"],
                borderWidth: 2,
                pointBorderWidth: 1,
                pointBorderColor: 'rgba(40, 106, 176, 1)'
            }]
        },
        options: {
          responsive:true,
          tooltips: {
            mode: "index",
            intersect:false,
          },
          hover:{
            mode: "nearest",
            intersect: true,
          },
          legend: {
            display: false,
            labels: {
              fontColor: "#0c8508"
            }
          },
          title: {
            display: true,
            text: "@Model.PositionObject.symbol Performance for @Model.PortfolioName",
            fontColor: "#0c8508"
          },
          layout: {
            padding:{
              left: 20,
              right: 20,
              top: 0,
              bottom: 0
            }
          },
            scales: {
                xAxes: [{
                    
                  scaleLabel:{
                    display: true,
                    labelString: "Date",
                    fontColor: "#0c8508"
                  },
                    ticks: {
                        fontColor: "#377535",
                        autoSkip: true,
                        maxTicksLimit: 6,
                        maxRotation: 15,
                        minRotation:15
                    }
                }],
                yAxes: [{
                  display:true,
                  scaleLabel:{
                    fontColor: "#0c8508",
                    display: true,
                    labelString:"Performance (%)"
                  },
                  ticks:{
                    fontColor: "#377535",
                  }
                }]
            }
        }
    });
    </script>
}